.men{
    /* font-size: 18px; */
    font-weight: bold;
    margin-left:120px;
    top:120px;
}
.men li{
    text-decoration: none;  /*去掉前面的圆点*/
    list-style: none;
    float: left;
    /* color:rgb(253, 253, 253); */
    margin-left:20px;
    margin-top:10px;
    /* margin-valign:center; */
    /* size:1; */
    /* border: 1px solid #FFFFFF; */
    /* background-color: #30DDEB; */
}
.sda{
    height:50px;
    /* background-color: rgb(255, 0, 0); */
}
.da{
    font-size: 18px;
}
.Hot{
    height:428px;
    width:700px;
    margin-left:200px;
    /* padding-top:50px; */
    border: 1px solid rgb(138, 45, 45); 
}
.song{
      font-weight: bold;
    list-style: none;
    float: left;
}
.song ul li{
    text-decoration: none;
    font-weight: bold;
    float: left;
    margin-left:20px;
    margin-top:20px;
}

.img{
    height:130px;
    width:130px;
}
.span{
    float: left;
    display:block;
    width:140px;
    height:50px;
    /* width:300px; */
}